#backButton,
#submitButton {
  font-family: "gameOver";
  font-size: 20px;
}

.reviewFields, #updateTitle, #updateEntry {
  color: white !important;
}

.MuiInputBase-root {
  color: white !important;
}
