@font-face {
  font-family: "gameOver";
  src: url("../../assets/fonts/rainyhearts.ttf");
}

.MuiDialog-paperWidthSm {
  max-width: 900px !important;
}

#titleBox {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
}

.MuiTypography-h6 {
  display: flex;
  justify-content: space-between;
  font-family: "gameOver" !important;
  font-size: 20px;
  color: white;
}

#avgRatingBox {
  display: flex;
}

#avgRating {
  font-family: "gameOver" !important;
  font-size: 20px;
}

#avgRatingStars {
  margin-left: .5em;
  padding-top: .25em;
}

#reviewTitle,
#usernameText,
#dateText {
  color: white;
}

#entryText {
  color: white;
  max-width: 250px;
}

#reviewBack {
  font-family: "gameOver";
  font-size: 20px;
  color: white;
}

#addReview {
  font-family: "gameOver";
  font-size: 20px;
  color: white;
}

#warningButton {
  font-family: "gameOver";
  font-size: 20px;
  color: white;
}

#reviewButtons {
  display: flex;
  justify-content: space-around;
}

#rating {
  padding-left: 0;
}

#reviewActions {
  padding-top: 0;
  padding-left: 0;
}

#updateReview {
    background-color: #282828;
  font-family: "gameOver";
  max-height: 40px;
  margin-bottom: 0.3em;
  max-width: 70px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

#deleteReview {
    background-color: #282828;
    font-family: "gameOver";
    max-height: 40px;
    margin-top: 0.3em;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
