@font-face {
    font-family: 'gameOver';
    src: url('../../assets/fonts/rainyhearts.ttf');
}

.MuiDialog-paperWidthSm {
    max-width: 900px !important;
}

#titleBox {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.MuiTypography-h6 {
    font-family: 'gameOver' !important;
    font-size: 20px;
    color: white;
}

#reviewTitle, #usernameText, #dateText {
    color: white;
}

#entryText {
    color: white;
    max-width: 250px;
}

#reviewBack {
    font-family: 'gameOver';
    font-size: 20px;
    color: white;
}

#addReview {
    font-family: 'gameOver';
    font-size: 20px;
    color: white;
}

#reviewButtons {
    display: flex;
    justify-content: space-around;
}

#rating {
    padding-left: 0;
}

#reviewActions {
    padding-top: 0;
    padding-left: 0;
}