@font-face {
    font-family: 'gameOver';
    src: url('../../assets/fonts/rainyhearts.ttf');
}

.MuiDialog-paperWidthSm {
    max-width: 900px !important;
}

#dialogBody {
    display: flex;
    flex-direction: column;
}

.MuiTypography-h6 {
    font-family: 'gameOver' !important;
    font-size: 20px;
    color: white;
}

#reviewTitle, #usernameText, #entryText, #dateText {
    color: white;
}

#reviewBack {
    font-family: 'gameOver';
    font-size: 20px;
    color: white;
}

#addReview {
    font-family: 'gameOver';
    font-size: 20px;
    color: white;
}

#reviewButtons {
    display: flex;
    justify-content: space-around;
}