.MuiPaper-root {
    background-color: #343434;
    color: white;
}

.MuiDrawer-paper {
    background-color: #343434 !important;
    color: white !important;
}

.MuiSvgIcon-root {
    color: white;
}