@font-face {
    font-family: 'gameOver';
    src: url('../../assets/fonts/rainyhearts.ttf');
}

.MuiToolbar-root {
    background-color: #282828;
    font-family: 'gameOver';
    font-size: 20px;
}

#drawerButton {
    display: flex;
    justify-content: flex-start;
}

#title {
    display: flex;
    justify-content: flex-end;
}

h2 {
    margin: 0;
}