.App {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  min-height: auto;
  
  margin-top: 3em;
}

.App-header {
  display: flex;
  justify-content: center;
}

body {
  background: url("./assets/controllerbackground.jpg");
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
