@font-face {
  font-family: "gameOver";
  src: url("../../assets/fonts/rainyhearts.ttf");
}

#loginTitle {
  font-family: "gameOver";
  font-size: 20px;
  color: white;
  text-shadow: black 0px 0px 3.5px, black 0px 0px 3.5px, black 0px 0px 3.5px,
    black 0px 0px 3.5px, black 0px 0px 3.5px, black 0px 0px 3.5px;
}

#loginInput.MuiInputBase-input, #loginPasswordInput.MuiInputBase-input {
  color: white !important;
}

.loginFields {
  color: white !important;
}

#loginBut {
  font-family: "gameOver";
  font-size: 20px;
  color: white;
  text-shadow: black 0px 0px 3.5px, black 0px 0px 3.5px, black 0px 0px 3.5px,
    black 0px 0px 3.5px, black 0px 0px 3.5px, black 0px 0px 3.5px;
}

#loginButtons {
  display: flex;
  justify-content: space-around;
}

#cancelButton,
#loginButton {
  font-family: "gameOver";
  font-size: 20px;
  color: white;
}
