@font-face {
  font-family: "gameOver";
  src: url("../../assets/fonts/rainyhearts.ttf");
}

#signupBut {
  font-family: "gameOver";
  font-size: 20px;
  color: white;
  text-shadow: black 0px 0px 3.5px, black 0px 0px 3.5px, black 0px 0px 3.5px,
    black 0px 0px 3.5px, black 0px 0px 3.5px, black 0px 0px 3.5px;
}

#firstNameInput.MuiInputBase-input,
#lastNameInput.MuiInputBase-input,
#emailInput.MuiInputBase-input,
#usernameInput.MuiInputBase-input,
#passwordInput.MuiInputBase-input {
  color: white !important;
}

#dialogTitle {
  font-family: "gameOver";
  font-size: 20px;
}

.signupFields {
  color: white !important;
}

#signupButtons {
  display: flex;
  justify-content: space-around;
}

#signupButton,
#cancelButton {
  font-family: "gameOver";
  font-size: 20px;
}
